name: CI

on:
  - workflow_dispatch
  - push

jobs:
  test:
    name: Test
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Set Deno cache dir
        shell: bash
        run: echo "DENO_DIR=$RUNNER_TEMP${{ runner.os == 'Windows' && '\\' || '/'  }}deno_cache" >> $GITHUB_ENV

      - uses: denoland/setup-deno@v2
        with:
          deno-version: v2.x

      - name: Cache Deno dependencies
        uses: actions/cache@v4
        with:
          path: ~/deno_cache_dir
          key: ${{ hashFiles('deno.lock') }}

      - name: Run Tests
        run: deno task test:ci

  lint:
    name: Lint
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - uses: denoland/setup-deno@v2
        with:
          deno-version: v2.x

      - name: Cache Deno dependencies
        uses: actions/cache@v4
        with:
          path: ~/deno_cache_dir
          key: ${{ hashFiles('deno.lock') }}

      - name: Lint
        run: deno lint
